{{#>nav}}

{{/nav}}

<main class="mdl-layout__content">
      <div class="page-content">
            <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--12-col">
                  <h2>{{de 'Impressum' 'Imprint'}}</h2>
                  <p>{{de 'Angaben gemäß § 5 TMG:' 'Information according to § 5 TMG:'}}</p>
                  <p>{{de 'Betreiber der Seite:' 'Website operator:'}}</p>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                        <h3>{{de 'Adresse' 'Address'}}</h3>
                  <address>
                        Benjamin Gögge<br>
                        Oderberger Str. 5<br>
                        10435 Berlin<br>
                        <br>
                        <a href="mailto:bn@ggge.de">bn@ggge.de</a><br>
                        {{de 'Telefon:' 'Telephone:'}} +49 30 4000 4854<br>
                  </address>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                  <h3>{{de 'Haftungsausschluss' 'Disclaimer'}}</h3>
                  <p>{{de 'Ich übernehme keine Haftung für die dargestellten Inhalte oder die Inhalte Dritter, auf die verlinkt wird. Verlinkte Inhalte werden explizit nicht zu eigen gemacht.' 'I do not take responsibility for linked content. Linked content is not considered content of this site.'}}</p>
                  </div>
                  <div class="mdl-cell mdl-cell--12-col">
                        <h3>{{de 'Datenschutz' 'Privacy policy'}}</h3>
                        <p>{{de 'Diese Seite verwendet Dienste zur Messung des Nutzerverhaltens, um die Angebote auf die Bedürfnisse der Nutzer anzupassen. Dabei werden Cookies, Tracking von Google Analytics, Optimizely, Facebook und Twitter eingesetzt. Persönliche Daten werden ausschließlich verwendet, um die angebotenen Dienste anzubieten.' 'In order to optimize this sites content, I use cookies and services by Google, Facebook, Optimizely and Twitter to track user behavior. Personal data is only used to fulfill the advertised services.'}}</p>
                  </div>
            </div>
            
      </div>
</main>