{{#>nav}}
<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#overview" class="mdl-layout__tab is-active">{{de 'Übersicht' 'Overview'}}</a>
      <a href="#development" class="mdl-layout__tab">{{de 'Entwicklung' 'Development'}}</a>
      <a href="#product" class="mdl-layout__tab">{{de 'Produktberatung' 'Product consulting'}}</a>
      <a href="#marketing" class="mdl-layout__tab">Marketing</a>
      <a href="#projects" class="mdl-layout__tab">{{de 'Projekte' 'Projects'}}</a>
      <a href="#about" class="mdl-layout__tab">{{de 'Über mich' 'About me'}}</a>
    </div>
{{/nav}}

<main class="mdl-layout__content">
     
    <section class="mdl-layout__tab-panel is-active" id="overview">
      <div class="page-content">
            <div id="cards" class="mdl-grid">
                  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                              <div class="mdl-card__title-text">{{de 'Startup Dienstleistungen' 'Startup services'}}</div>
                              <div class="mdl-card__subtitle-text">{{de 'von Benjamin Gögge' 'by Benjamin Goegge'}}</div>     
                        </div>
                        <div class="mdl-card__supporting-text">{{de 'Seit 2002 unterstütze ich Teams unterschiedlicher Größe bei der Erstellung von Internetdiensten. Ich validiere Ideen und entwickle sie gemeinsam mit meinen Auftraggebern weiter.' 'I support teams of several sizes with the creation of internet services. I '}}</div>
                        <div class="mdl-card__actions"><a href="mailto:bn@ggge.de">{{de 'Anfrage senden' 'Send request'}}</a></div>
                   </div>
                   <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                              <div class="mdl-card__title-text">{{de '' ''}}</div>
                              <div class="mdl-card__subtitle-text">{{de '' ''}}</div>     
                        </div>
                        <div class="mdl-card__supporting-text">{{de '' ''}}</div>
                        <div class="mdl-card__actions">{{de '' ''}}</div>
                   </div>
                   <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                              <div class="mdl-card__title-text">{{de '' ''}}</div>
                              <div class="mdl-card__subtitle-text">{{de '' ''}}</div>     
                        </div>
                        <div class="mdl-card__supporting-text">{{de '' ''}}</div>
                        <div class="mdl-card__actions">{{de '' ''}}</div>
                   </div>
                   <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                              <div class="mdl-card__title-text">{{de '' ''}}</div>
                              <div class="mdl-card__subtitle-text">{{de '' ''}}</div>     
                        </div>
                        <div class="mdl-card__supporting-text">{{de '' ''}}</div>
                        <div class="mdl-card__actions">{{de '' ''}}</div>
                   </div>
                   <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                              <div class="mdl-card__title-text">{{de '' ''}}</div>
                              <div class="mdl-card__subtitle-text">{{de '' ''}}</div>     
                        </div>
                        <div class="mdl-card__supporting-text">{{de '' ''}}</div>
                        <div class="mdl-card__actions">{{de '' ''}}</div>
                   </div>
            </div>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="development">
      <div class="page-content">
            <div id="skills" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                  <div class="mdl-tabs__tab-bar">
                  <a href="#frontend" class="mdl-tabs__tab">{{de 'Front-End' 'Frontend'}}</a>
                  <a href="#backend" class="mdl-tabs__tab">{{de 'Back-End' 'Back end'}}</a>
                  <a href="#cms" class="mdl-tabs__tab">CMS</a>
                  </div>
                  <div class="mdl-tabs__panel is-active" id="frontend">
                  <p>First tab's content.</p>
                  </div>
                  <div class="mdl-tabs__panel" id="backend">
                  <p>Second tab's content.</p>
                  </div>
                  <div class="mdl-tabs__panel" id="cms">
                  <p>Third tab's content.</p>
                  </div>
            </div>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="product">
      <div class="page-content">
            
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="marketing">
      <div class="page-content">
            
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="clients">
      <div class="page-content">
      
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="about">
      <div class="page-content">
            
      </div>
    </section>
    
</main>