{{#>nav}}
{{!--<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#overview" class="mdl-layout__tab is-active"></a>
      <a href="#development" class="mdl-layout__tab"></a>
      <a href="#product" class="mdl-layout__tab"></a>
      <a href="#marketing" class="mdl-layout__tab">Marketing</a>
      <a href="#projects" class="mdl-layout__tab"></a>
      <a href="#about" class="mdl-layout__tab"></a>
    </div>--}}
{{/nav}}

<main class="mdl-layout__content">
  <div class="page-content mdl-grid">
    <section id="overview" class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <h4>{{de 'Startup Dienstleistungen' 'Startup services'}}</h4>
            <p>{{de 'Seit 2002 unterstütze ich Teams unterschiedlicher Größe bei der Erstellung von Internetdiensten. Ich validiere Produkte und entwickle sie gemeinsam mit meinen Auftraggebern weiter. Mein Einsatzgebiet reicht von der Beratung über die aktive Unterstützung von einzelnen Teammitgliedern bis hin zur kompletten Umsetzung von Projekten.' 'Since 2002 I support teams of several sizes with the creation of internet services. I validate products and develop them together with the team. My tasks usually span the range from consulting to complete implementation of projects.'}}</p>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="mailto:bn@ggge.de">{{de 'Anfrage senden' 'Send request'}}</a>
    </section>
    <section id="development" class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <h4>{{de 'Entwicklung' 'Development'}}</h4>
         <div id="overview">
           <p>{{de 'Ich entwickle neue Projekte auf Basis von Node.js, Angular und ähnlichen Technologien. Außerdem unterstütze ich Kunden bei der Weiterentwicklung von Projekten, die auf Ruby (on Rails) oder PHP basieren. Mein Fokus liegt auf der Entwicklung von Prototypen, MVP und der Implementierung von Analyse- und Optimierungssystemen (insbesondere Google Analytics und Optimizely).' 'I develop new projects on the basis of Node.js, Angular and similar technologies. I support my clients to improve their existing projects based on Ruby (on Rails) and PHP. I focus on building prototypes and MVP. I help clients implementings tools for tracking and otpimizing their apps and websites (especially with Google Analytics and Optimizely).'}}</p>
         </div>
         <h4>{{de 'Technologien' 'Technologies'}}</h4>
         <div id="javascript">
           <h5>Javascript</h5>
           <p>{{de 'Ich habe mit der Entwicklung von Javascript-Projekten während meines Masterstudium 2011 begonnen. Seitdem habe ich eine Reihe von Projekten in Javascript umgesetzt. ' 'I began developing projects during my master studies in 2011. '}}</p>
         </div>
         <div id="html">
              <h5>HTML/CSS</h5>
            <p>{{de 'Meine ersten Webseiten habe ich 1996 in HTML geschrieben.' 'I created my first websites in pure HTML in 1996.'}}</p>
            </div>
            <div id="cms">
              <h5>{{de 'Content-Management-Systeme' 'Content management systems'}}</h5>
            <p>{{de 'Seit 2002 habe ich eine Reihe von unterschiedlichen Content-Management-Systemen (Core-Media, WordPress, Movable Type, Ghost, Typo3) eingesetzt und eingerichtet. Aktuell betreue ich Kunden mit Wordpress und setze selbst Ghost ein.' 'I used several content management systems (Core-Media, WordPress, Movable Type, Ghost, Typo3) since 2002. At the moment I am helping clients with their Wordpress projects and build parts of my own site with Ghost.'}}</p>
            </div>
            <div id="db">
              <h5>{{de 'Datenbanken' 'Databases'}}</h5>
            <p>{{de 'Back-End' 'Back end'}}</p>
            </div>
            <div id="email">
              <h5>{{de 'E-Mail' 'Email'}}</h5>
            <p>{{de 'Back-End' 'Back end'}}</p>
            </div>
    </section>
    <section class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" id="product">
      <h4>{{de 'Produkt' 'Product'}}</h4>
      <p>{{de '' ''}}</p>
    </section>
    <section class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" id="marketing">
      <h4>Marketing</h4>
      <p>{{de '' ''}}</p>
    </section>
    <section class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" id="projects">
      <h4>{{de 'Projekte' 'Projects'}}</h4>
      
      <p>{{de '' ''}}</p>
    </section>
    <section class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" id="about">
          <h4>{{de 'Über mich' 'About me'}}</h4>
      <p>{{de 'Nach einer kaufmännischen Ausbildung habe ich für das ZDF neun Jahre Online-Projekte realisiert.' ''}}</p>
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="https://linkedin.com/in/bnggge">{{de 'Auf LinkedIn verbinden' 'Connect on LinkedIn'}}</a>
    </section>
  </div>
    {{>footer}}
</main>