{{#>nav}}
<!--<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#overview" class="mdl-layout__tab is-active">{{de 'Übersicht' 'Overview'}}</a>
      <a href="#development" class="mdl-layout__tab">{{de 'Entwicklung' 'Development'}}</a>
      <a href="#product" class="mdl-layout__tab">{{de 'Produktberatung' 'Product consulting'}}</a>
      <a href="#marketing" class="mdl-layout__tab">Marketing</a>
      <a href="#projects" class="mdl-layout__tab">{{de 'Projekte' 'Projects'}}</a>
      <a href="#about" class="mdl-layout__tab">{{de 'Über mich' 'About me'}}</a>
    </div>-->
{{/nav}}

<main class="mdl-layout__content">
  <div class="page-content mdl-grid">
    <section id="overview" class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <h4>{{de 'Startup Dienstleistungen' 'Startup services'}}</h4>
            <p>{{de 'Seit 2002 unterstütze ich Teams unterschiedlicher Größe bei der Erstellung von Internetdiensten. Ich validiere Produkte und entwickle sie gemeinsam mit meinen Auftraggebern weiter. Mein Einsatzgebiet reicht von der Beratung über die aktive Unterstützung von einzelnen Teammitgliedern bis hin zur kompletten Umsetzung von Projekten.' 'I support teams of several sizes with the creation of internet services. I validate products and develop them together with the team. My tasks usually span the range from consulting to complete implementation of projects.'}}</p>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="mailto:bn@ggge.de">{{de 'Anfrage senden' 'Send request'}}</a>
    </section>
    <section id="development" class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
          <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#overview" class="mdl-tabs__tab">{{de 'Übersicht' 'Overview'}}</a>
            <a href="#frontend" class="mdl-tabs__tab">{{de 'Front-End' 'Front end'}}</a>
            <a href="#backend" class="mdl-tabs__tab">{{de 'Back-End' 'Back end'}}</a>
            <a href="#cms" class="mdl-tabs__tab">CMS</a>
            <a href="#google" class="mdl-tabs__tab">Google Services</a>
            <a href="#email" class="mdl-tabs__tab">{{de 'E-Mail-Automatisierung' 'Email automation'}}</a>
         </div>
         <div class="mdl-tabs__panel is-active" id="overview">{{de 'Ich entwickle neue Projekte auf Basis von Node.js, Angular und ähnlichen Technologien. Außerdem unterstütze ich Kunden bei der Weiterentwicklung von Projekten, die auf Ruby (on Rails) oder PHP basieren. Mein Fokus liegt auf der Entwicklung von Prototypen, MVP und der Implementierung von Analyse- und Optimierungssystemen.' 'I develop new projects on the basis of Node.js, Angular and similar technologies. I support my clients to improve their existing projects based on Ruby (on Rails) and PHP. I focus on building prototypes and MVP. I help clients implementings tools for tracking and otpimizing their apps and websites.'}}
               
         </div>
                        
       
            <div class="mdl-tabs__panel" id="frontend">
            <p>{{de 'Back-End' 'Back end'}}</p>
            </div>
            <div class="mdl-tabs__panel" id="backend">
            <p>{{de 'Back-End' 'Back end'}}</p>
            </div>
            <div class="mdl-tabs__panel" id="cms">
            <p>{{de 'Back-End' 'Back end'}}</p>
            </div>
            <div class="mdl-tabs__panel" id="google">
            <p>{{de 'Back-End' 'Back end'}}</p>
            </div>
            <div class="mdl-tabs__panel" id="email">
            <p>{{de 'Back-End' 'Back end'}}</p>
            </div>
          </div>
    </section>
    <section class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" id="about">
          <h4>{{de 'Über mich' 'About me'}}</h4>
      <p>{{de 'Nach einer kaufmännischen Ausbildung habe ich neun Jahre für das ZDF neun Jahre Online-Projekte realisiert.' ''}}</p>
    </section>
  </div>
    {{>footer}}
</main>