{{#>nav}}
{{!--<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#overview" class="mdl-layout__tab is-active"></a>
      <a href="#development" class="mdl-layout__tab"></a>
      <a href="#product" class="mdl-layout__tab"></a>
      <a href="#marketing" class="mdl-layout__tab">Marketing</a>
      <a href="#projects" class="mdl-layout__tab"></a>
      <a href="#about" class="mdl-layout__tab"></a>
    </div>--}}
{{/nav}}

<main class="mdl-layout__content">
  <div class="page-content mdl-grid">
    <section id="overview" class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <h4>{{de 'Startup Dienstleistungen' 'Startup services'}}</h4>
            <p>{{de 'Seit 2002 unterstütze ich Teams unterschiedlicher Größe bei der Erstellung von Internetdiensten. Ich validiere Produkte und entwickle sie gemeinsam mit meinen Auftraggebern weiter. Mein Einsatzgebiet reicht von der Beratung über die aktive Unterstützung von einzelnen Teammitgliedern bis hin zur kompletten Umsetzung von Projekten.' 'Since 2002 I support teams of several sizes with the creation of internet services. I validate products and develop them together with the team. My tasks usually span the range from consulting to complete implementation of projects.'}}</p>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="mailto:bn@ggge.de">{{de 'Anfrage senden' 'Send request'}}</a>
    </section>
    <section id="development" class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <h4>{{de 'Entwicklung' 'Development'}}</h4>
         <div id="overview">
           <p>{{de 'Ich entwickle neue Projekte auf Basis von Node.js, Angular und ähnlichen Technologien. Außerdem unterstütze ich Kunden bei der Weiterentwicklung von Projekten, die auf Ruby (on Rails) oder PHP basieren. Mein Fokus liegt auf der Entwicklung von Prototypen, MVP und der Implementierung von Analyse- und Optimierungssystemen.' 'I develop new projects on the basis of Node.js, Angular and similar technologies. I support my clients to improve their existing projects based on Ruby (on Rails) and PHP. I focus on building prototypes and MVP. I help clients implementings tools for tracking and otpimizing their apps and websites.'}}</p>
         </div>
         <div id="javascript">
           <h4>{{de 'Technologien' 'Technologies'}}</h4>
           <p>{{de 'Ich entwickle neue Projekte auf Basis von Node.js, Angular und ähnlichen Technologien. Außerdem unterstütze ich Kunden bei der Weiterentwicklung von Projekten, die auf Ruby (on Rails) oder PHP basieren. Mein Fokus liegt auf der Entwicklung von Prototypen, MVP und der Implementierung von Analyse- und Optimierungssystemen.' 'I develop new projects on the basis of Node.js, Angular and similar technologies. I support my clients to improve their existing projects based on Ruby (on Rails) and PHP. I focus on building prototypes and MVP. I help clients implementings tools for tracking and otpimizing their apps and websites.'}}</p>
         </div>
            <div id="cms">
              <h4>{{de 'Technologien' 'Technologies'}}</h4>
            <p>{{de 'Back-End' 'Back end'}}</p>
            </div>
            <div id="db">
              <h4>{{de 'Technologien' 'Technologies'}}</h4>
            <p>{{de 'Back-End' 'Back end'}}</p>
            </div>
            <div id="email">
              <h4>{{de 'Technologien' 'Technologies'}}</h4>
            <p>{{de 'Back-End' 'Back end'}}</p>
            </div>
    </section>
    <section class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" id="product">
          <h4>{{de 'Produkt' 'Product'}}</h4>
      <p>{{de 'Nach einer kaufmännischen Ausbildung habe ich neun Jahre für das ZDF neun Jahre Online-Projekte realisiert.' ''}}</p>
    </section>
    <section class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" id="projects">
          <h4>{{de 'Projekte' 'Projects'}}</h4>
      <p>{{de 'Nach einer kaufmännischen Ausbildung habe ich neun Jahre für das ZDF neun Jahre Online-Projekte realisiert.' ''}}</p>
    </section>
    <section class="mdl-cell mdl-cell--12-col mdl-shadow--2dp" id="about">
          <h4>{{de 'Über mich' 'About me'}}</h4>
      <p>{{de 'Nach einer kaufmännischen Ausbildung habe ich für das ZDF neun Jahre Online-Projekte realisiert.' ''}}</p>
    </section>
  </div>
    {{>footer}}
</main>